//== XF Footer style, used on page template
.cmp-experiencefragment--footer {
  padding-top: 46px;
  font-size: 18px;
  background-color: $color-black;
  color:$color-white;
  position: relative;
  .xf-content-height {
    margin: 0;
  }
  .cmp-image {
    text-align: center;
  }
  .cmp-image__image {
    width: auto;
  }
  .cmp-text {
    margin-top: 26px;
    margin-bottom: 50px;
    color:$color-white;
  }
  p {
    margin: 0;
    line-height: 1.2;
  }
  .button {
    position: absolute;
    width: auto;
    right: 0;
    bottom: 50px;
    #scroll-up {
      background-color: transparent;
      background-size: 100% 100%;
    }
  }
}
