.cmp-teaser {
}
.cmp-teaser__image {
  & img {
    width: 100%;
  }
}
.cmp-teaser__content {
  position: absolute;
  top: 44%;
  left: 10%;
  width: 80%;
}
.cmp-teaser__pretitle {
  color: white;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}
.cmp-teaser__title {
  color: white;
  font-size: 48px;
  line-height: 44px;
  letter-spacing: -2.4px;
  margin-top: 5px;
  margin-bottom: 15px;
  margin-left: 2%;
  text-shadow: 0px 6px 0px #25262780;
  max-width: 800px;
}
.cmp-teaser__title-link {
  text-decoration: none;
  color: inherit;
}
.cmp-teaser__action-container {
}
.cmp-teaser__action-link {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 3px solid #090909;
  border-radius: 100px;
  width: 180px;
  height: 32px;
  font-family: $font-family-bold;
  font-weight: bold;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1.6px;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #090909;
  text-transform: uppercase;
  text-decoration: none;
}
.cmp-teaser__description {
}
.cmp-teaser__action-container {
  margin-left: 2%;
}
.cmp-teaser__action-link {
  color: #090909;
  text-transform: uppercase;
  text-decoration: none;
}

.cmp-teaser--hero {
  .cmp-teaser {
    position: relative;
  }
  .cmp-teaser__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    width: 100%;
    margin-left: 0;
  }
  .cmp-teaser__pretitle {
    font-size: 60px;
    letter-spacing: -4.5px;
    line-height: 20.42px;
    color: #090909;
    text-align: center;
  }
  .cmp-teaser__title {
    font-size: 175px;
    letter-spacing: -4.5px;
    line-height: 20.42px;
    color: #090909;
    text-align: center;
    position: relative;
    top: 100px;
  }
  .cmp-teaser__description {
    font-size: 54.46px;
    letter-spacing: -4.08px;
    line-height: 20.42px;
    color: #090909;
    text-align: center;
    position: relative;
    top: 110px;
  }
  .cmp-teaser__action-container {
    position: relative;
    top: 100px;
    display: flex;
    margin-left: 0;
  }
  .cmp-teaser__action-link {
    margin: 0 15px;
  }
  .cmp-teaser__action-link:first-child {
    border: 3px solid #090909;
    background: transparent;
  }
}
