.cmp-button--back {
  .cmp-button {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='0.986in' height='0.972in'%3E%3Cpath fill-rule='evenodd' fill='rgb(9, 9, 9)' d='M36.000,70.004 C16.687,70.001 0.990,54.317 0.982,35.016 C0.973,15.718 16.675,-0.001 35.966,-0.009 C55.268,-0.016 70.977,15.679 70.987,34.980 C70.996,54.271 55.277,70.007 36.000,70.004 ZM35.995,4.371 C19.132,4.356 5.369,18.110 5.361,34.987 C5.352,51.857 19.094,65.611 35.971,65.624 C52.832,65.637 66.598,51.880 66.607,35.009 C66.617,18.138 52.875,4.387 35.995,4.371 ZM48.845,37.192 C42.989,37.182 37.133,37.187 31.276,37.187 C30.300,37.187 29.326,37.187 28.350,37.187 C28.319,37.249 28.287,37.310 28.257,37.372 C29.769,38.862 31.284,40.350 32.794,41.842 C33.607,42.647 34.423,43.452 35.222,44.271 C36.192,45.263 36.237,46.596 35.352,47.479 C34.457,48.370 33.117,48.343 32.144,47.374 C28.567,43.811 24.997,40.241 21.433,36.663 C20.408,35.635 20.392,34.371 21.414,33.344 C24.993,29.746 28.583,26.159 32.184,22.582 C33.127,21.644 34.459,21.636 35.334,22.499 C36.229,23.381 36.208,24.729 35.239,25.706 C33.115,27.850 30.974,29.977 28.840,32.113 C28.660,32.294 28.489,32.482 28.180,32.808 C30.864,32.808 33.359,32.808 35.855,32.808 C40.227,32.808 44.600,32.808 48.972,32.809 C49.879,32.809 50.586,33.170 51.028,33.980 C51.441,34.737 51.380,35.489 50.923,36.199 C50.440,36.948 49.713,37.194 48.845,37.192 Z'/%3E%3C/svg%3E");
    width: 71px;
    height: 70px;
    border: none;
    display: flex;
    padding: 0;
  }
  .cmp-button__text {
    display: none;
  }
}
