// default
@mixin button {
  border: 3px solid #090909;
  border-radius: 100px;
  padding: 3px 40px;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 16px;
}
@mixin button-text {
  font-size: 16px;
  letter-spacing: 1.6px;
  line-height: 26px;
  text-transform: uppercase;
  font-family: $font-family-bold;
  font-weight: bold;
  color: #090909;
}

.cmp-button {
  @include button;
}
.cmp-button__text {
  @include button-text();
}
.cmp-button__icon {
}
