.cmp-tabs {}
.cmp-tabs__tablist {
    display: flex;
    justify-content: center;
}
.cmp-tabs__tab {
    height: 68px;
    width: 260px;
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    background-color: #F2EFE9;
    position: relative;
    margin: 15px;
    margin-right: 20px;
    padding-left: 22px;
    border: none;
    box-sizing: border-box;
    outline: none;
    &:not(:last-child) {
        &:after {
            content: '';
            position: absolute;
            top: 13px;
            left: 0;
            right: -20px;
            bottom: 13px;
            border-right: 5px solid black;
            z-index: 10;
        }
    }  
}
.cmp-tabs__tab--active {
    background-color: #C7FB74;
}
.cmp-tabs__tabpanel {}
.cmp-tabs__tabpanel--active {}