.tabs-vertical{
  .cmp-tabs {
    display: flex;
    flex-wrap: wrap;
    padding: $components-vertical-padding 0;
  }
  ol, ul {
    list-style: none;
  }
  .cmp-tabs__tablist {
    width: 100%;
    flex-direction: column;
    align-items: center;
    @include md {
      width: 33.3%;
    }
  }
  .cmp-tabs__tabpanel {
    width: 100%;
    align-self: center;
    @include md {
      width: 66.6%;
    }
  }
}