.cmp-title {
  margin: 0 $spacing--lg;
}
.cmp-title__text {
  font-size: $font-size-lg;
  color: $color-black;
  line-height: $line-height-title;
  letter-spacing: $letter-spacing-title;
  margin-bottom: $spacing--lg;
}

.cmp-title--centered .cmp-title__text {
  text-align: center;
}

.cmp-title__link {
  text-decoration: none;
  cursor: pointer;
}
