.cmp-experiencefragment--header {
  margin: 10px 10px 0 10px;
  @include lg {
    margin: 56px 95px 0 95px;
  }
  .xf-content-height {
    margin: 0;
  }
  .cmp-image__image {
    width: 289px;
    height: 44px;
  }
  .cmp-container {
    > div {
      display: flex;
      align-items: baseline;
      flex-direction: column;
      @include md {
        flex-direction: row;
      }
    }
  }
}

.cmp-navigation {}
.cmp-navigation__group {
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: center;
  margin-top: 15px;
  @include md {
    display: flex;
  }
}
.cmp-navigation__item {
  line-height: 1.2;
}
.cmp-navigation__item-link {
  text-decoration: none;
  color:$color-black;
  font-size:18px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1.35px;
  font-family:$font-family;
  font-weight: 600;
  padding: 10px 0;
  display: flex;
  @include md {
    padding: 0 30px;
  }
  .cmp-experiencefragment--footer & {
    color:$color-white;
  }
}
.cmp-languagenavigation {
  display: flex;
  justify-content: flex-end;
}
.cmp-languagenavigation__group {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 5px 0 0 0;
  line-height: 1;
}
.cmp-languagenavigation__item {
  padding: 8px;
  align-self: end;
  display: flex;
}
.cmp-navigation__item--active {
  position: relative;
  z-index: 1;
  &:before {
    border-bottom: 5px solid $color-green;
    content: "";
    margin: 0 auto;
    position: absolute;
    z-index: -1;
    bottom: 4px;
    left: 30px;
    width: 80%;
    .cmp-experiencefragment--footer & {
      border-color:$color-medium-gray;
    }
  }
}

.cmp-languagenavigation__item--active {
  border:3px solid $color-black;
  border-radius: 8px;
  margin-bottom: 5px;
  .cmp-languagenavigation__item-link {
    color:$color-black;
  }
}
.cmp-languagenavigation__item-link {
  text-decoration: none;
  color:$color-medium-gray;
  font-size:18px;
  text-transform: uppercase;
  letter-spacing: 1.35px;
  font-family:$font-family;
  font-weight: 500;
}
.button {
  position: absolute;
  right:20px;
  top:20px;
  display: flex;
  width:auto !important;
  h1 {
    display: none;
  }
  @include md {
    display: none;
  }
}

.cmp-experiencefragment--footer {
  padding-top: 46px;
  font-size:18px;
  background-color: $color-black;
  .cmp-image {
    text-align: center;
  }
  .cmp-image__image {
    width:auto;
  }
  .cmp-navigation__group {
    margin: 50px auto;
  }
  .cmp-text {
    margin-top: 26px;
    margin-bottom: 50px;
  }
  p {
    margin: 0;
    line-height: 1.2;
  }
  .cmp-navigation__group  {
    flex-direction: column;
    @include md {
      flex-direction: row;
    }
  }

  #social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    flex-direction: column;
    @include md {
      flex-direction: row;
    }
    .image {
      display: flex;
      justify-content: center;
      padding: 0 35px;
      margin-bottom: 20px;
      @include md {
        margin-bottom: 0;
      }
    }
  }
}