//== Colors
$color-black: #090909;
$color-white: #fffefe;
$color-light-gray: #f2efe9;
$color-medium-gray: #25262780;
$color-dark-gray: #3f3f3f;
$color-green: #c7fb74;
$color-blue: #00bbf9;
$color-darker-blue: #009fb7;
$color-orange: #f2a65a;
$color-red: #f2a65a;
