//== Color

$color-foreground: $color-black;
$color-background: $color-white;
$color-link:$color-blue;

//== Grid

$max_col: 12;

//== Spacings

$spacing--sm: 0.25rem;
$spacing: 0.5rem;
$spacing--md: 0.75rem;
$spacing--lg: 1rem;
$spacing--xl: 2rem;

$container-margin:6rem;
$container-negative-margin:-6rem;