//== Color

$color-foreground: $color-black;
$color-background: $color-white;
$color-link:$color-blue;

//== Grid

$max_col: 12;

//== Spacings

$spacing--sm: 0.25rem;
$spacing: 0.5rem;
$spacing--md: 0.75rem;
$spacing--lg: 1rem;
$spacing--xl: 2rem;

$container-space:4rem;
$container-negative-space:-4rem;
$container-mobile-space:1rem;
$container-mobile-negative-space:-1rem;

$components-vertical-padding:2rem;
$components-horizontal-padding:1rem;