//== Font

$font-family: 'Poppins', sans-serif;
$font-size: 16px;
$font-height: 1.5;

//== Color

$color-foreground: #202020;
$color-background: white;
$color-link: #2020e0;

//== Grid

$max_col: 12;
